/**
 *  Spacings
 */

.space--tiny {
  height: 8px;
}
.space--small {
  height:16px;
}
.space--medium {
  height: 24px;
}
.space--big {
  height: 32px;
}
.space--very-big {
  height: 40px;
}
.space--huge {
  height: 80px;
}
