/**
 *  Mixins
 */

 // Mixin printing a linear-gradient
 // as well as a plain color fallback
 // and the `-webkit-` prefixed declaration
 // @param {Keyword | Angle} [$direction] - Linear gradient direction
 // @param {Arglist} $color-stops - List of color-stops composing the gradient

 @mixin linear-gradient($direction, $color-stops...) {
  @if is-direction($direction) == false {
    $color-stops: $direction, $color-stops;
    $direction: 180deg;
  }

  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}
